<launch>
  <node pkg="puzzle_game_framework" type="main.py" name="puzzle_game_framework" output="screen"/>

  <arg name="config_path" default="$(find robot_behaviour)/src/robot_behaviour/config/audio"/>
      <param name="/config_path" value="$(arg config_path)" />
  <arg name="user_id" default="0000" />
      <param name="/user_id" value="$(arg user_id)" />
  <arg name="personality" default="praise" />
      <param name="/personality" value="$(arg personality)" />
  <arg name="objective" default="godel" />
      <param name="/objective" value="$(arg objective)" /> 
  <arg name="with_feedback" default="True" />
      <param name="/with_feedback" value="$(arg with_feedback)" />
  <arg name="timeout" default="15000" />
      <param name="/timeout" value="$(arg timeout)" />
  <arg name="language" default="esp" />
      <param name="/language" value="$(arg language)" />
  <arg name="gender" default="female" />
      <param name="/gender" value="$(arg gender)" />

  <!-- <include file="$(find robot_facial_expression)/launch/robot_facial_expression.launch" />
  <arg name="gender" default="female" />
      <param name="/gender" value="$(arg gender)" />

  <node pkg="robot_face_visualizer" type="face_visualizer.py" name="robot_face_visualizer" />
  -->
</launch>
